// Place all the styles related to the musts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.musts-index {
  margin-left: 10px;

}
.container{
  width: 100%;
}
.musts-index-item {
  margin: 0 auto;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 40%;
  text-align: center;
}
.main {
  text-align: center;
  width: 100%;
}
.new-container {
  width: 50%;
  padding: 4px;
  border: solid 2px black;
  margin: auto;
  box-shadow: 0 2px 6px gray;
  background-color: #CCCCCC;
}
.musts-task {
  font-family: "Arial Black";
}